<strong>Hi, {{ provider }}</strong>
<p>An appointment was cancelled. Check out the details bellow.</p>
<p>
  <strong>Costumer:</strong> {{ user }} <br>
  <strong>Date:</strong> {{ date }} <br>
  <small>This scheduling is again available for new appointments.</small>
</p>
